h1{
    color: blue;
}

#cap1{
    color: green;
}

.cap2{
    color: red;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h2{
    font-family: "Roboto", sans-serif ;
}

